{% extends 'layouts/base.html' %}
{% load static %}
{% load plotly_dash %}

{% block title %}
portefeuille_eth
{% endblock %}

  {% block body %}

<style type="text/css">
		#user{
			margin-top: 100px;
			margin-left: 80px;
      		display: inline-block;
      		text-align: center;
			

		}
		#inputs{
			display: inline-block;
      		width:70%;
      		float:right;
			
		}
		#connexions{
			display: inline-block;
      		width:80%;
      		text-align: center;
      		margin-left: 10%;

		}
		h4{
			font-size: 12px;
		}


	</style>



	{% for u in user %}
<div class="card border-primary mb-3" style="max-width: 20rem;" id="user">
  <div class="card-header">User</div>
  <div class="card-body">
    <p class="card-text">Address : {{ u.adresse }}</p>
    <p class="card-text">Ethereum balance : {{u.eth_balance}} ETH </p>
  </div>
</div>
	{% endfor %}

<div id='inputs'>
	 {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}
</div>

<div id='connexions'>
  	{% plotly_app name='connexions' ratio=1 %}
</div>

{% endblock%}