 {% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
portefeuille_eth
{% endblock %}

  {% block body %}

<style type="text/css">
		#user{
			margin-top: 100px;
			margin-left: 80px;
      		display: inline-block;
			

		}
		#inputs{
			display: inline-block;
      		width:70%;
      		float:right;
			
		}
		#connexions{
			display: inline-block;
      		width:80%;
      		text-align: center;
      		margin-left: 10%;

		}

	</style>



	{% for u in user %}
<div class="card border-primary mb-3" style="max-width: 20rem;" id="user">
  <div class="card-header">Adresse</div>
  <div class="card-body">
    <h4 class="card-title">{{ u.adresse }}</h4>
    <p class="card-text">{{u.eth_balance}}</p>
  </div>
</div>
	{% endfor %}

<div id='inputs'>
	 {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}
</div>

<div id='connexions'>
  	 {% autoescape off %}
  {{ plot_div2 }}
  {% endautoescape %}
</div>

{% endblock%}