#left {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height:30px;
    background-color:#eeeeee;
    height:auto;
    width:400px;
    float:left;
    padding:5px;
    text-align: center;
    font-family:Arial;
    font-size: 18px;
    border-radius: 25px;
}
.card-header{
    border-color: #4f4f4f;
}
#right {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 80px;
    width:900px;
    float:right;
    padding:10px;
}
#btc_container{
    width: 100%;
    height:auto;
}
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    }