

.blcinfo-container {
    width: 100%;
    height: auto;
    text-align: center;
}
.top_20_container{
    width:100%;
    font-size: 20px;
    padding-right: 300px;
    float: left;
    text-align: left;
}
.col-md-5{
    float:left;
}

.main-svg{
    margin-left: 280px;
}
