

.blcinfo-container {
    width: 100%;
    height: auto;
    text-align: center;
}
.top_20_container{
    margin-left: 200px;
    margin-right: 200px;
    width:100%;
    float: left;
    font-size: 20px;
    padding-right: 300px;
    float: left;
    text-align: left;
}
.col-md-5{
    float:left;
}
