#totop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 7px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 7px;
  border-radius: 4px;
}
#totop:hover {
  background-color: #555555;
}

.footer-text {
  font-size: 30px;
}