{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Blockchain info
{% endblock %}

{% block styles %}
<head>
    <meta charset="utf-8">
    <title>
        block_bitcoin
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blockchain.css' %}">
</head>
{% endblock %}

{% block body %}
<style type="text/css">
    #binfos{
        margin-top: 5%;
    }
    hr{
        width: 85%;
    }
    #miners{
        margin-top:3%;
    }
</style>
<body style="text-align: center">
    <article>
        <p></p>
        <h1 id="binfos">Blockchain information</h1>
        <hr>
    <div class="container mb-3 mt-3">
            <table class="table table-hover table-striped" id="tab" style="width:70%">
                <thead>
                    <tr>
                        <th>Height</th>
                        <th>Hash</th>
                        <th>Miner</th>
                        <th>Transactions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for b in blocs %}
                    <tr>
                        <td>{{b.hauteur}}</td>
                        <td>{{b.hash_bloc}}</td>
                        <td ><a href="/bitcoin/portefeuille/{{ b.adresse.adresse }}">{{ b.adresse.adresse }}</a></td>
                        <td>{{b.nb_tx}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    </article>
    <hr id="miners">
    <article>
        <p></p>
        <h1>Top miners</h1>
        <hr>
        <div class="top_20_container">
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
            <hr>
        </div>
    </article>


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{% static 'js/pagination.js' %}"></script>
</body>

{% endblock%}