{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/portefeuille.css' %}">
{% endblock %}

{% block body %}

<div class="card mb-3" id="infos">
  <h3 class="card-header">Utilisateur</h3>
  <div class="card-body" id="cardbody">
  	{% for u in utilisateurs %}
    <h5 class="card-title">Adresse : </h5>
   <p class="text-secondary">{{ u.adresse }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Transactions : {{u.nb_tx}}</li>
    <li class="list-group-item">Total reçu : {{u.total_recu}}</li>
    <li class="list-group-item">Total envoyé : {{ u.total_envoye}}</li>
  </ul>
  <div class="card-footer text-muted">
    Solde final : {{ u.solde_final}}
  </div>
  {% endfor%}
</div>

<div id="graphe_inputs">
 {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}
</div>

{% endblock%}
