{% extends 'layouts/base.html' %}
{% load static %}


{% block title %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/portefeuille.css' %}">
{% endblock %}

{% block body %}
<style type="text/css">
  #infos{
    display: inline-block;
    width:20%;
    margin-left: 5%;
    margin-top: 3%;
  }
  #graphe_inputs{
    margin-left: 4%;
    display: inline-block;
    width: 70%;
  }
  #cardbody{
    text-align: center;
  }
  .card-header{
    text-align: center;
  }
</style>

<div class="card mb-3" id="infos">
  <h3 class="card-header">User</h3>
  <div class="card-body" id="cardbody">
  	{% for u in utilisateurs %}
    <h5 class="card-title">Address : </h5>
   <p class="text-secondary">{{ u.adresse }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Transactions : {{u.nb_tx}}</li>
    <li class="list-group-item">Total received: {{u.total_recu}}</li>
    <li class="list-group-item">Total sent : {{ u.total_envoye}}</li>
  </ul>
  <div class="card-footer text-muted">
    Final balance : {{ u.solde_final}}
  </div>
  {% endfor%}
</div>

<div id="graphe_inputs">
 {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}
</div>

{% endblock%}
