{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block styles %}  
   <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}

<style type="text/css">
	h1{
		margin-top:5%;
		text-align: center;
	}
	hr{
		width: 85%;
	}
	#echanges{
		margin-top: 40%;
	}
	#chord{
		display: block;
		padding: 2% 2%;
		background-color: #f0f0f0;
		margin-left: 10%;
		float:left;
		margin-top: 30px;

	}
	#tab{
		border:5px solid #f0f0f0;
		height:790px;
		margin-right: 10%;
		float: right;
		width: 25%;
		height: 790px;
		margin-top: 30px;
		
	}
</style>

<h1>Crypto-currencies' price</h1>
<hr>
<div div id="cours">
	<div id="nav">
			<div class="list-group">
		  <a href="accueil_btc" id="bitcoin" class="list-group-item list-group-item-action" >
				  <img class="logo" src="{% static 'images/btc.png' %}">
			 <p class ="nom_crypto ">BTC($):</p>
			 <p class="prix">{{prix_BTC}}</p>
		  </a>

		  <a href="accueil_eth" id="ethereum" class="list-group-item list-group-item-action">
			<img class="logo" src="{% static 'images/eth.png' %}">
			  <p class ="nom_crypto ">ETH($):</p>
			  <p class="prix">{{prix_ETH}}</p>
		  </a>
		</div>
	</div>
	<div id="section">
			<div class="graphe">
			{% autoescape off %}
			{{ graphe_div }}
			{% endautoescape %}
			</div>		
	</div>
</div>

<div id="echanges">
	<h1>Exchanges between users</h1>
	<hr> 
		<div id="chord">
			<p>Chord diagram</p>
			{% autoescape off %}
				{{ chord }}
			{% endautoescape %}
			{{chord_graph|safe}}
		</div>
	<div>
        <table class="table table-hover table-striped table-responsive" id="tab">
		    <thead>
                <tr>
                    <th>Source</th>
                    <th>Receiver</th>
                    <th>Value</th>
                    <th>Date</th>
                 </tr>
                </thead>
                <tbody>
                	{%for e in echanges%}
                    <tr>
                        <td>{{e.0}}</td>
                        <td>{{e.1}}</td>
                        <td>{{e.2}}</td>
                        <td>{{e.3}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
	</div>
</div>
{% endblock%}



