{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Accueil
{% endblock %}

{% block styles %}  
   <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block body %}

<style type="text/css">
	h1{
		margin-top:5%;
		text-align: center;
	}
	hr{
		width: 85%;
	}
	#chord_eth{
		top:120%;
		left:30%;
	}
	#echanges{
		margin-top: 40%;
	}
</style>

<h1>Evolution du cours des crypto-monnaies</h1>
<hr>
<div div id="cours">
	<div id="nav">
			<div class="list-group">
		  <a href="accueil_btc" id="bitcoin" class="list-group-item list-group-item-action" >
				  <img class="logo" src="{% static 'images/btc.png' %}">
			 <p class ="nom_crypto ">BTC($):</p>
			 <p class="prix">{{prix_BTC}}</p>
		  </a>

		  <a href="accueil_eth" id="ethereum" class="list-group-item list-group-item-action">
			<img class="logo" src="{% static 'images/eth.png' %}">
			  <p class ="nom_crypto ">ETH($):</p>
			  <p class="prix">{{prix_ETH}}</p>
		  </a>
		</div>
	</div>
	<div id="section">
			<div class="graphe">
			{% autoescape off %}
			{{ graphe_div }}
			{% endautoescape %}
			</div>		
	</div>
</div>

<div id="echanges">
	<h1>Echanges entre les utilisateurs</h1>
	<hr> 
	<div id="chord_btc">
		{% autoescape off %}
		{{ chord }}
		{% endautoescape %}
	</div>

	<div>
        <table class="table table-hover table-striped table-responsive" id="tab">
		    <thead>
                <tr>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Valeur</th>
                    <th>Date</th>
                 </tr>
                </thead>
                <tbody>
                	{%for e in echanges%}
                    <tr>
                        <td>{{e.0}}</td>
                        <td>{{e.1}}</td>
                        <td>{{e.2}}</td>
                        <td>{{e.3}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
	</div>
</div>

<div id="chord_eth">
{{chord_graph|safe}}
</div>
{% endblock%}



