 {% extends 'layouts/base.html' %}
 {% load static %}

{% block title %}
About us
{% endblock %}

{% block styles %}
 <head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
 </head>
{% endblock %}

 {% block body %}

<body>
<!-- Team Members -->
    <h1>Our Team</h1>
    <div class="row-1">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'images/samy.jpg' %}">
          <div class="card-body">
            <h4 class="card-title">Samy MOSTAFA</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Computer science student at Paris Descartes</p>
          </div>
          <div class="card-footer">
            <a href="#">samy_mostafa@hotmail.fr</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'images/tiffany.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Tiffany Kwan Teau</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Computer science student at Paris Descartes</p>
          </div>
          <div class="card-footer">
            <a href="#">tiffany.kwanteau@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'images/lsl.jpg' %}">
          <div class="card-body">
            <h4 class="card-title">Shenglei Liu</h4>
            <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
            <p class="card-text">Computer science student at Paris Descartes</p>
          </div>
          <div class="card-footer">
            <a href="#">lslei0228@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
</body>
{% endblock %}